node_modules
dist
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.netlify
.vercel
build_output.log
build.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.local
android/local.properties
android/app/release/
android/app/build/
android/app/*.keystore
android/app/*.jks
